extends home

block content
  main.main.container
    .details
      .character-details  
        img.character-img(src=`${character.data.results[0].thumbnail.path}.${character.data.results[0].thumbnail.extension}`)
        .character-details-description
          h2.character-details-name= `${character.data.results[0].name}`
          p.character-details-sumary= `${character.data.results[0].description}`
          a.btn.btn-back(href='/') Back 